{% extends 'base.html' %}
{% block title %} Index {% endblock %}
{% block reference %}
{% load static %}
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<style>
	.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	}
	@media (min-width: 768px) {
	.bd-placeholder-img-lg {
	font-size: 3.5rem;
	}
	}
</style>
{% endblock %}
{% block content %}
<main>
	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				{% load static %}carousel-1
				<img src="{% static 'img/carousel-1.jpg' %}" alt="圖片載入失敗">
				<div class="container">
					<div class="carousel-caption text-start">
						<h1>內壢高中資訊研究社NL.ComputerScience</h1>
						<p>
							覺得最近在steam上找不到什麼好玩的遊戲嗎?
							覺得很多APP的設計總是沒考慮到你的需求嗎?
							<br>
							你相信自己可以創造時代嗎!
							覺得自己行的話，就來內高資研!!
						</p>
						<p><a class="btn btn-lg btn-primary" href="#">社員走這邊註冊</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				{% load static %}
				<img src="{% static 'img/carousel-2.jpg' %}" alt="圖片載入失敗">
				<div class="container">
					<div class="carousel-caption text">
						<h1>豐富的程式競賽教材與挑戰題</h1>
						<p>一天練一題 百天破百題 下個電神就是你</p>
						<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				{% load static %}
				<img src="{% static 'img/carousel-3.jpg' %}" alt="圖片載入失敗">
				<div class="container">
					<div class="carousel-caption text-end">
						<h1>作品展示</h1>
						<p>學長姊們課餘發揮創意製作的作品 <br> 只要實力夠，你的作品也可以在這裡!</p>
						<p><a class="btn btn-lg btn-primary" href="#">browse our project</a></p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
		</button>
	</div>
	<!-- Marketing messaging and featurettes
		================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->
	<div class="container marketing">
		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777"/>
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777"/>
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>
				<h2>Heading</h2>
				<p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777"/>
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>
				<h2>Heading</h2>
				<p>And lastly this, the third column of representative placeholder content.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->
		<!-- START THE FEATURETTES -->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">內壢高中資訊研究社NL.ComputerScience <br><span class="text-muted">定位與發展現況</span></h2>
				<p class="lead">我們是一個聚集許多真心熱愛資訊領域同學的社團，平時由學長帶領社課學各式各樣的資訊技術。
					<br> 我們主要是學以C++/C為主的競賽程式題目，像是：資料結構、演算法等都會接觸；時不時會教一些其他有趣的技術，例如：小遊戲製作、python等等
					<br> 或許有人對資研的印象停留在只是個玩玩電腦、混混時間的社團，確實無法否認的確有人是抱著這種心態來到這個社團
					<br> ——不過假如這個人就是你，我們在此先預告你會過得很不快樂，因為我們上的東西都是要經過一定的思考才能學會的，要是你都在打遊戲混時間不願思考的話，到了學期後半你在社團中就會都聽不懂，之後看看身邊選其他社團的同學都過得很嗨很開心，你會覺得不是滋味到了極致，因為你浪費了一學期的寶貴時光...
				</p>
			</div>
			<div class="col-md-5">
				{% load static %}
				<img src="{% static 'img/image1.jpg' %}" alt="圖片載入失敗">
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">享受社課時光的社員們! <br><span class="text-muted">與認真帶社課的學長XD</span></h2>
				<p class="lead">
					我們的社課都是由幹部們編排上課的，老師的話則會全程在一旁指導我們，帶領跟不上的同學們熟悉學長姐講解的內容
					<br> 雖然課程是由幹部領導，不過我們的規劃十分的彈性，會根據同學們的學習狀況臨時調整，你要是對於社課內容有什麼建議，也都可以向幹部反應
					<br> ——我們沒有嚴格的上下制度，就連老師都十分親切，有問題只要直接提就一定會有人幫你解答
				</p>
			</div>
			<div class="col-md-5 order-md-1">
				{% load static %}
				<img src="{% static 'img/image2.jpg' %}" alt="圖片載入失敗">
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">學資訊到底是在學什麼?<br>修電腦?打遊戲? <br><span class="text-muted">是有差那一點學習歷程嗎?</span></h2>
				<p class="lead">
					最後，有人可能會想：所以學資訊到底是在幹嘛?與其拚那一點學習歷程還不如去別的社團玩個開心玩個爽，之後好好讀書科系還不是任我選?這邊一次幫大家解答完!!
					<ol>
						<li>學資訊在幹嘛?<br> 寫程式、刷競賽題目、寫一些有的沒的但很酷的程式等，以上是我們實際上做的事情，但追根究柢，就是學跟資訊相關的一切，只要你愛資訊，那來這邊就對了</li>
						<li>那點學習歷程有差嗎?<br> 老實說，因人而異。為什麼呢?因為這取決於你學習的熱忱與態度，你要是真的很愛資訊，愛到打比賽打到資奧國際賽第一，那厲不厲害??你不考學測全臺資工也任你挑!就算不拉這麼遠來講，你在這三年中有做出屬於自己的專題，不論好壞，都對升學十分加分，到底有沒有用就留給你們自己判斷囉!</li>
					</ol>
				</p>
			</div>
			<div class="col-md-5">
				{% load static %}
				<img src="{% static 'img/image3.jpg' %}" alt="圖片載入失敗">
			</div>
		</div>
		<hr class="featurette-divider">
		<!-- /END THE FEATURETTES -->
	</div>
	<!-- /.container -->
</main>
{% endblock %}